@import "global";
//768 <= width < 992
@media screen and (max-width: 991px) and (min-width: 768px){
  //关于我们标题字体
  .about-content{
    h1{
      font-size: 27px;
    }
  }
  //移动端婚礼详情页
  .st-content{
    .row{
      height: 18%;
    }
    :nth-child(2){
      height: 54%;
      .wed-item{
        height: 33%;
      }
      .wed-item.hotel-img{
        height: 33%;
      }
    }
    .modal.fade{
      height: 100%;
      h1{
        font-size: 27px;
      }
      label{
        font-size: 11px;
      }
    }
  }
}

//width < 768px
@media screen and (max-width: 767px){
  //整体页面
  #page-content-wrapper{
    margin: 0 10px;
  }
  //关于我们标题字体
  .about-content{
    h1{
      font-size: 18px;
    }
  }
  //移动端侧边栏
  .sidebar-nav{
    .sidebar-brand{
      display: none;
    }
  }
  //移动端顶部菜单栏
  .navbar-header{
    height: 60px;
    .navbar-toggle{
      margin: 0;
      height: 100%;
      width: 100%;
      .navbar-brand{
        background-image: url("../imgs/logo-right.png");
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
      }
    }
    #talk{
      width:52px;
      height:30px;
      position: absolute;
      #bg-color(ddd);
      top: 15px;
      left: 300px;
      border-radius:10px;
      line-height: 30px;
      #ft-color(white);
      #other-anim(click_me);
    }
  }
  //移动端下拉菜单栏
  .st-nav-bar{
    height: auto;
  }
  .container>.navbar-collapse{
    margin: 0;
  }
  .nav-menu{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 99;
    #bg-color(white);
  }
  //移动端banner区
  .carousel.fade{
    padding: 0;
    top: 40%;
    .carousel-inner{
      overflow: inherit;
      .item{
        .carousel-caption{
          .banner_label{
            height:100%;
            h1{
              width: 100%;
              //top: -70px;
              #ft-size(big);
              //#ft-color(ddd);
              position: absolute;
              //text-shadow: 1px 1px;
            }
            p{
              margin: 0;
              width: 100%;
              //#ft-color(ddd);
              top: 100px;
              position: relative;
              text-align: center;
              //text-shadow: 1px 1px;
            }
          }
        }
      }
    }
  }
  //移动端横向移动图片区
  .scroll-header{
    padding-top: 0;
    label{
      #ft-size(small);
      #ft-color(ddd)
    }
    h1{
      #ft-size(big);
      #ft-color(dark);
    }
    h4{
      #ft-size(medium);
    }
    img{
      height: 40px;
    }
  }
  .scroll-content{
    .item-group{
      .content-item{
        width: 200px;
        .item-box{
          width: 200px;
        }
        h3{
          #ft-size(large);
        }
        p{
          #ft-size(small);
        }
      }
    }
  }
  //移动端视频详情页
  .video-header{
    padding-top: 10px;
    #ft-size(large);
  }
  //移动端婚礼详情页
  .st-content{
    .row{
      height: 18%;
    }
    :nth-child(2){
      height: 54%;
      .wed-item{
        height: 33%;
      }
      .wed-item.hotel-img{
        height: 33%;
      }
    }
    .modal.fade{
      height: 100%;
      h1{
        font-size: 18px;
      }
      label{
        font-size: 9px;
      }
    }
  }
  //移动端列表页
  #page-content-wrapper .container{
    overflow: inherit;
  }
  .st-content{
    height: auto;
  }
  .scroll-content {
    display: none;
  }

  .scroll-bar {
    display: none;
  }
  .img-group {
    img {
      margin-top: 10px;
    }
    .content-item{
      background: no-repeat;
      background-size: 100%;
      .words{
        text-align: center;
        h3{
          font-size: 16px;
        }
        p{
          font-size: 10px;
        }
      }
    }
  }
}