@media screen and (max-width: 991px) and (min-width: 768px) {
  .about-content h1 {
    font-size: 27px;
  }
  .st-content .row {
    height: 18%;
  }
  .st-content :nth-child(2) {
    height: 54%;
  }
  .st-content :nth-child(2) .wed-item {
    height: 33%;
  }
  .st-content :nth-child(2) .wed-item.hotel-img {
    height: 33%;
  }
  .st-content .modal.fade {
    height: 100%;
  }
  .st-content .modal.fade h1 {
    font-size: 27px;
  }
  .st-content .modal.fade label {
    font-size: 11px;
  }
  .img-group {
    display: block;
    padding: 0 10px 10px;
    background-color: #141618;
  }
  .img-group img {
    margin-top: 10px;
  }
  .img-group .content-item {
    margin: 5px 0;
    padding: 5px 0;
    border: solid 1px white;
    border-radius: 10px;
    background: no-repeat;
    background-size: 100%;
  }
  .img-group .content-item .words {
    color: #fbfbfb;
    text-align: center;
  }
  .img-group .content-item .words h3 {
    font-size: 16px;
  }
  .img-group .content-item .words p {
    font-size: 10px;
  }
  .img-group .content-item .item-btn {
    text-align: center;
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  #page-content-wrapper {
    margin: 0;
  }
  .about-content h1 {
    font-size: 18px;
  }
  .sidebar-nav .sidebar-brand {
    display: none;
  }
  .hamburger {
    margin-top: 4px;
  }
  .navbar-header {
    margin-left: 0!important;
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 99;
  }
  .navbar-header .navbar-toggle.collapsed .navbar-brand {
    background: url("../imgs/logo-small-white.png") no-repeat center;
    width: 100%;
    height: 100%;
  }
  .st-nav-bar {
    height: auto;
  }
  .st-nav-bar .st-bar.active > a,
  .st-nav-bar .st-bar.active > a:focus {
    color: #fbfbfb;
    background-color: #ddd;
  }
  .container > .navbar-collapse {
    margin: 50px 0 0;
    background-color: #fff;
  }
  .navbar-toggle {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #fff;
  }
  .navbar-toggle .navbar-brand {
    background: url("../imgs/logo-small-black.png") no-repeat center;
    width: 100%;
    height: 100%;
  }
  .nav-menu {
    width: 100%;
    overflow: hidden;
    z-index: 99;
    background-color: #141618;
    border-bottom: 1px solid black;
  }
  .nav-menu .nav-pills li {
    font-size: 10px;
  }
  .nav-menu .nav-pills li a {
    color: #141914;
  }
  .sec-bar {
    display: block;
    margin-top: 50px;
  }
  .sec-bar .sec-menu {
    margin: 5px 0;
  }
  .sec-bar .sec-menu .sec {
    text-align: center;
    margin: 2px 0;
  }
  .sec-bar .sec-menu .sec a {
    color: #fbfbfb;
  }
  .carousel.fade {
    top: auto;
    padding: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .carousel.fade .carousel-inner {
    overflow: inherit;
  }
  .carousel.fade .carousel-inner .item {
    background-size: auto 100%;
    background-position: 50%;
  }
  .carousel.fade .carousel-inner .item .carousel-caption .banner_label h1 {
    width: 100%;
    font-size: 22px;
    position: absolute;
  }
  .carousel.fade .carousel-inner .item .carousel-caption .banner_label p {
    margin: 0;
    width: 100%;
    top: 100px;
    position: relative;
    text-align: center;
  }
  .scroll-header {
    padding-top: 0;
    background-color: #141618;
  }
  .scroll-header h4 {
    margin-bottom: 0;
  }
  .video-header {
    padding-top: 10px;
    font-size: 16px;
  }
  .st-content .row {
    height: 18%;
  }
  .st-content :nth-child(2) {
    height: 54%;
  }
  .st-content :nth-child(2) .wed-item {
    height: 33%;
  }
  .st-content :nth-child(2) .wed-item.hotel-img {
    height: 33%;
  }
  .st-content .modal.fade {
    height: 100%;
  }
  .st-content .modal.fade h1 {
    font-size: 18px;
  }
  .st-content .modal.fade label {
    font-size: 9px;
  }
  #page-content-wrapper .container {
    overflow: inherit;
  }
  .st-content {
    height: auto;
  }
  .scroll-content {
    display: none;
  }
  .scroll-bar {
    display: none;
  }
  .img-group {
    display: block;
    padding: 0 10px 10px;
    background-color: #141618;
  }
  .img-group img {
    margin-top: 10px;
  }
  .img-group .content-item {
    margin: 5px 0;
    padding: 5px 0;
    border: solid 1px white;
    border-radius: 10px;
    background: no-repeat;
    background-size: 100%;
  }
  .img-group .content-item .words {
    color: #fbfbfb;
    text-align: center;
  }
  .img-group .content-item .words h3 {
    font-size: 16px;
  }
  .img-group .content-item .words p {
    font-size: 10px;
  }
  .img-group .content-item .item-btn {
    text-align: center;
    margin-top: 5px;
  }
  .the-foot {
    display: block;
  }
  .the-foot .m-ftu {
    font-size: 0;
    line-height: 0;
  }
  .the-foot .m-ftu li a {
    display: block;
    position: relative;
    color: #FFF;
    overflow: hidden;
  }
  .the-foot .m-ftu li .d1 {
    position: absolute;
    top: 50%;
    margin-top: -65px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .the-foot .m-ftu li .d1 .s1 {
    line-height: 20px;
    font-weight: bold;
    height: 20px;
    font-size: 16px;
    display: block;
    padding-top: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: url(../imgs/foot-logo.png) no-repeat center center;
    background-size: 27px auto;
    padding-bottom: 3px;
  }
  .the-foot .foot-bot .p1 {
    font-size: 13px;
    text-align: center;
    color: #575757;
    line-height: 18px;
  }
}
