@media screen and (max-width: 991px) and (min-width: 768px) {
  .about-content h1 {
    font-size: 27px;
  }
  .st-content .row {
    height: 18%;
  }
  .st-content :nth-child(2) {
    height: 54%;
  }
  .st-content :nth-child(2) .wed-item {
    height: 33%;
  }
  .st-content :nth-child(2) .wed-item.hotel-img {
    height: 33%;
  }
  .st-content .modal.fade {
    height: 100%;
  }
  .st-content .modal.fade h1 {
    font-size: 27px;
  }
  .st-content .modal.fade label {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  #page-content-wrapper {
    margin: 0;
  }
  .about-content h1 {
    font-size: 18px;
  }
  .sidebar-nav .sidebar-brand {
    display: none;
  }
  .navbar-header {
    height: 60px;
  }
  .navbar-header .navbar-toggle {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .navbar-header .navbar-toggle .navbar-brand {
    background-image: url("../imgs/logo-right.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
  }
  .st-nav-bar {
    height: auto;
  }
  .container > .navbar-collapse {
    margin: 0;
  }
  .navbar-toggle {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #fff;
  }
  .nav-menu {
    width: 100%;
    padding: 0 30px;
    margin: 0;
    overflow: hidden;
    z-index: 99;
    background-color: #141618;
    border-bottom: 1px solid white;
  }
  .nav-menu .nav-pills > li {
    font-size: 10px;
  }
  .carousel.fade {
    padding: 10px 0 0 0;
  }
  .carousel.fade .carousel-inner {
    overflow: inherit;
  }
  .carousel.fade .carousel-inner .item {
    background-size: auto 100%;
  }
  .carousel.fade .carousel-inner .item .carousel-caption .banner_label h1 {
    width: 100%;
    font-size: 22px;
    position: absolute;
  }
  .carousel.fade .carousel-inner .item .carousel-caption .banner_label p {
    margin: 0;
    width: 100%;
    top: 100px;
    position: relative;
    text-align: center;
  }
  .scroll-header {
    margin: 0 10px;
    padding-top: 0;
  }
  .scroll-header label {
    font-size: 12px;
    color: #ddd;
  }
  .scroll-header h1 {
    font-size: 22px;
    color: #fbfbfb;
  }
  .scroll-header h4 {
    font-size: 14px;
  }
  .scroll-header img {
    height: 40px;
  }
  .scroll-content .item-group .content-item {
    width: 200px;
  }
  .scroll-content .item-group .content-item .item-box {
    width: 200px;
  }
  .scroll-content .item-group .content-item h3 {
    font-size: 16px;
  }
  .scroll-content .item-group .content-item p {
    font-size: 12px;
  }
  .video-header {
    padding-top: 10px;
    font-size: 16px;
  }
  .st-content .row {
    height: 18%;
  }
  .st-content :nth-child(2) {
    height: 54%;
  }
  .st-content :nth-child(2) .wed-item {
    height: 33%;
  }
  .st-content :nth-child(2) .wed-item.hotel-img {
    height: 33%;
  }
  .st-content .modal.fade {
    height: 100%;
  }
  .st-content .modal.fade h1 {
    font-size: 18px;
  }
  .st-content .modal.fade label {
    font-size: 9px;
  }
  #page-content-wrapper .container {
    overflow: inherit;
  }
  .st-content {
    height: auto;
  }
  .scroll-content {
    display: none;
  }
  .scroll-bar {
    display: none;
  }
  .img-group {
    padding: 0 10px 10px;
    background-color: #141618;
  }
  .img-group img {
    margin-top: 10px;
  }
  .img-group .content-item {
    margin: 5px 0;
    padding: 5px 0;
    border: solid 1px white;
    border-radius: 10px;
    background: no-repeat;
    background-size: 100%;
  }
  .img-group .content-item .words {
    color: #fbfbfb;
    text-align: center;
  }
  .img-group .content-item .words h3 {
    font-size: 16px;
  }
  .img-group .content-item .words p {
    font-size: 10px;
  }
  .img-group .content-item .item-btn {
    text-align: center;
    margin-top: 5px;
  }
}
