{% extends 'base.html' %}
{% load staticfiles %}
{% block container.css %}
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
{% endblock %}
{% block container %}
    <!-- scroll content -->
    <div class="about">
{#        <div class="about-bg-img">#}
{#            <img src="imgs/about_2.gif">#}
{#        </div>#}
        <article class="about-content">
            <h1 style="text-align: center">联系我们</h1>
            {% autoescape off %}
                {{ contact.desc }}
            {% endautoescape %}
        </article>
    </div>
{% endblock %}