{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <!-- nav header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <a class="navbar-brand" href="#"></a>
        </button>
        <div id="talk" class="talk">
            <div id="inner"></div>
            <p>点我！</p>
        </div>
    </div>
    <!-- nav bar -->
    <nav class="st-nav-bar nav-menu collapse navbar-collapse full-padding" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="st-bar active"><a href="{% url 'index' %}">首页</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'wedding' %}">海外婚礼</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'photo' %}">环球旅拍</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'enjoy' %}">客片欣赏</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'video' %}">婚礼视频</a></li>
        </ul>
    </nav>
    <!-- banner content -->
    <article id="carousel" class="carousel fade" data-ride="carousel">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner" role="listbox">
            {% for banner in banners %}
            <div class="item{% ifequal banner banners.0 %} active{% endifequal %}">
                <img src="{{ banner.image }}">
                <div class="carousel-caption" id="banner">
                    <div class="banner_label">
                        <h1>{{ banner.title }}</h1>
                        <p>{{ banner.label }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </article>
{% endblock %}
