{% extends 'base.html' %}
{% load staticfiles %}
{% block container.css %}
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/know.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- second bar -->
    <div class="sec-bar">
        <img src="{% static 'imgs/know-top.jpg' %}" style="width: 100%">
        <div class="row sec-menu">
            <div class="sec col-xs-6"><a href="{% url 'index' %}">首页</a></div>
            <div class="sec col-xs-6"><a href="{% url 'wedding' %}">海外婚礼</a></div>
            <div class="sec col-xs-6"><a href="{% url 'photo' %}">环球旅拍</a></div>
            <div class="sec col-xs-6"><a href="{% url 'enjoy' %}">客片欣赏</a></div>
        </div>
    </div>
    <!-- scroll content -->
    <div class="about">
{#        <div class="about-bg-img">#}
{#            <img src="imgs/about_2.gif">#}
{#        </div>#}
        <article class="about-content">
            <h1 style="text-align: center">婚礼须知</h1>
            {% for know in knows %}
            <div class="panel panel-default">
                <div class="panel-heading the-1st">
                    {{ know.label }}
                </div>
                <div class="panel-body hidden">
                    {% autoescape off %}
                    {{ know.desc }}
                    {% endautoescape %}
                </div>
            </div>
            {% endfor %}
        </article>
    </div>
{% endblock %}