{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
    <script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- nav header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <a class="navbar-brand" href="#"></a>
        </button>
    </div>
    <!-- nav bar -->
    <nav class="st-nav-bar nav-menu collapse navbar-collapse full-padding" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="st-bar"><a href="{% url 'index' %}">首页</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'wedding' %}">海外婚礼</a></li>
            <li role="presentation" class="st-bar active"><a href="{% url 'photo' %}">环球旅拍</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'enjoy' %}">客片欣赏</a></li>
            <li role="presentation" class="st-bar"><a href="{% url 'video' %}">婚礼视频</a></li>
        </ul>
    </nav>
    <!-- scroll content -->
    <!-- 头部 -->
    <header class="scroll-header">
        <h1>{{ label.name }}</h1>
        <label>{{ label.label }}</label>
        <h4>{{ label.desc }}</h4>
    </header>
    <!-- 内容 -->
    <article class="scroll-content" id="scroll-content">
        <div class="item-group">
            {% for photo in photos %}
            <div class="content-item" style="background-image: url({{ photo.front_img }})">
                <div class="item-box">
                    <div class="words">
                        <h3>{{ photo.name }}</h3>
                        {% if photo.desc == None %}
                        <p></p>
                        {% else %}
                        <p>{{ photo.desc }}</p>
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'photo_detail' photo.id %}">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
    <div class="scroll-bar" id="scroll-bar">
        <div class="scroll-slider" id="scroll-slider"></div>
    </div>
    <div class="img-group">
        {% for photo in photos %}
            <div class="content-item">
                <div class="words">
                    <h3>{{ photo.name }}</h3>
                    {% if photo.desc == None %}
                    <p></p>
                    {% else %}
                    <p>{{ photo.desc }}</p>
                    {% endif %}
                </div>
                <div class="item-img">
                    <img src="{{ photo.front_img }}" width="100%">
                </div>
                <div class="item-btn">
                    <a class="btn btn-default" href="{% url 'photo_detail' photo.id %}">More</a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        var items = document.getElementsByClassName('content-item');
        var itemWidth = 0;
        if(items.length > 0){
            itemWidth = items.item(0).clientWidth;
        }
        $('.item-box').css({'width':itemWidth + 'px'});
        new CusScrollBar({
            contSelector: '.scroll-content', //滚动内容区选择器
            barSelector: '.scroll-bar', //滚动条选择器
            sliderSelector: '.scroll-slider', //滚动滑块选择器
            itemCount: '{{ count }}', //内容总数
            itemWidth: itemWidth+4 //内容宽度
        });
        var item = document.getElementById('scroll-content');
        var bar = document.getElementById('scroll-bar');
        var slider = document.getElementById('scroll-slider');
        touchMove(item, {{ count }}, bar, slider, itemWidth+4);
    </script>
{% endblock %}