{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/wed-detail.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- nav bar -->
    <nav class="st-nav-bar" id="st-nav-bar">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="st-bar active" id="hotel"><a href="#">酒店介绍</a></li>
            <li role="presentation" class="st-bar" id="place"><a href="#">场地信息</a></li>
            <li role="presentation" class="st-bar" id="server"><a href="#">专业服务</a></li>
            <li role="presentation" class="st-bar" id="know"><a href="#">预约须知</a></li>
            <li role="presentation" class="st-bar" id="back"><a href="{% url 'wedding' %}">返回</a></li>
        </ul>
    </nav>
    <!-- scroll content -->
    <article class="st-content">
        <div id="hotel-info" class="wed-item active">
            <div class="item-content">
                <h1>{{ wedding.name }}</h1>
                <label>{{ wedding.desc }}</label>
                {% autoescape off %}
                    {{ wedding.hotel_info }}
                {% endautoescape %}
            </div>
            <div class="item-img right-left">
                {% if images.1 %}<a href="{{ images.1.img }}" data-lightbox="roadtrip"><img src="{{ images.1.img }}"></a>{% endif %}
            </div>
            <div class="item-img left-right">
                {% if images.2 %}<a href="{{ images.2.img }}" data-lightbox="roadtrip"><img src="{{ images.2.img }}"></a>{% endif %}
            </div>
            <div class="item-img left-right">
                {% if images.3 %}<a href="{{ images.3.img }}" data-lightbox="roadtrip"><img src="{{ images.3.img }}"></a>{% endif %}
            </div>
            <div class="item-img right-left">
                {% if images.4 %}<a href="{{ images.4.img }}" data-lightbox="roadtrip"><img src="{{ images.4.img }}"></a>{% endif %}
            </div>
        </div>
        <div id="place-info" class="wed-item">
            <div class="item-content">
                {% autoescape off %}
                    {{ wedding.place_info }}
                {% endautoescape %}
            </div>
            <div class="item-img up-down">
                {% if images.5 %}<a href="{{ images.5.img }}" data-lightbox="roadtrip"><img src="{{ images.5.img }}"></a>{% endif %}
            </div>
            <div class="item-img down-up">
                {% if images.6 %}<a href="{{ images.6.img }}" data-lightbox="roadtrip"><img src="{{ images.6.img }}"></a>{% endif %}
            </div>
            <div class="item-img down-up">
                {% if images.7 %}<a href="{{ images.7.img }}" data-lightbox="roadtrip"><img src="{{ images.7.img }}"></a>{% endif %}
            </div>
            <div class="item-img up-down">
                {% if images.8 %}<a href="{{ images.8.img }}" data-lightbox="roadtrip"><img src="{{ images.8.img }}"></a>{% endif %}
            </div>
        </div>
        <div id="server-info" class="wed-item">
            <div class="item-content">
                {% autoescape off %}
                    {{ wedding.server_info }}
                {% endautoescape %}
            </div>
            <div class="item-img left-right">
                {% if images.9 %}<a href="{{ images.9.img }}" data-lightbox="roadtrip"><img src="{{ images.9.img }}"></a>{% endif %}
            </div>
            <div class="item-img up-down">
                {% if images.10 %}<a href="{{ images.10.img }}" data-lightbox="roadtrip"><img src="{{ images.10.img }}"></a>{% endif %}
            </div>
            <div class="item-img down-up">
                {% if images.11 %}<a href="{{ images.11.img }}" data-lightbox="roadtrip"><img src="{{ images.11.img }}"></a>{% endif %}
            </div>
            <div class="item-img right-left">
                {% if images.12 %}<a href="{{ images.12.img }}" data-lightbox="roadtrip"><img src="{{ images.12.img }}"></a>{% endif %}
            </div>
        </div>
        <div id="know-info" class="wed-item">
            <div class="item-content">
                {% autoescape off %}
                    {{ wedding.book_info }}
                {% endautoescape %}
            </div>
            <div class="item-img up-down">
                {% if images.13 %}<a href="{{ images.13.img }}" data-lightbox="roadtrip"><img src="{{ images.13.img }}"></a>{% endif %}
            </div>
            <div class="item-img right-left">
                {% if images.14 %}<a href="{{ images.14.img }}" data-lightbox="roadtrip"><img src="{{ images.14.img }}"></a>{% endif %}
            </div>
            <div class="item-img left-right">
                {% if images.15 %}<a href="{{ images.15.img }}" data-lightbox="roadtrip"><img src="{{ images.15.img }}"></a>{% endif %}
            </div>
            <div class="item-img down-up">
                {% if images.16 %}<a href="{{ images.16.img }}" data-lightbox="roadtrip"><img src="{{ images.16.img }}"></a>{% endif %}
            </div>
        </div>
    </article>
{% endblock %}