{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
    <script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- nav header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <a class="navbar-brand" href="#"></a>
            <span id="talk" class="talk">点我</span>
        </button>
    </div>
    <!-- nav bar -->
    <nav class="st-nav-bar nav-menu collapse navbar-collapse full-padding" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="{% if area_id %}st-bar{% else %}st-bar active{% endif %}"><a href="{% url 'wedding' %}">{{ label.name }}</a></li>
            {% for area in areas %}
            <li role="presentation" class="{% if area_id and area_id == area.id%}st-bar active{% else %}st-bar{% endif %}"><a href="?area_id={{ area.id }}">{{ area.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <!-- scroll content -->
    <!-- 头部 -->
    <header class="scroll-header">
    {% if area_id %}
        {% for area in areas %}
            {% if area.id == area_id %}
            <h1>{{ area.name }}</h1>
            <img src="{{ area.flag }}">
            <h4>{{ area.desc }}</h4>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>{{ label.name }}</h1>
        <label>{{ label.label }}</label>
        <h4>{{ label.desc }}</h4>
    {% endif %}
    </header>
    <!-- 内容 -->
    <article class="scroll-content" id="scroll-content">
        <div class="item-group">
            {% for wedding in weddings %}
            <div class="content-item" style="background-image: url({{ wedding.front_img }})">
                <div class="item-box">
                    <div class="words">
                        <h3>{{ wedding.name }}</h3>
                        {% if wedding.desc == None %}
                        <p></p>
                        {% else %}
                        <p>{{ wedding.desc }}</p>
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'wedding_detail' wedding.id %}">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
    <div class="scroll-bar" id="scroll-bar">
                <div class="scroll-slider" id="scroll-slider"></div>
            </div>
{% endblock %}
{% block script %}
    <script>
        var items = document.getElementsByClassName('content-item');
        var itemWidth = 0;
        if(items.length > 0){
            itemWidth = items.item(0).clientWidth;
        }
        $('.item-box').css({'width':itemWidth + 'px'});
        new CusScrollBar({
            contSelector: '.scroll-content', //滚动内容区选择器
            barSelector: '.scroll-bar', //滚动条选择器
            sliderSelector: '.scroll-slider', //滚动滑块选择器
            itemCount: '{{ count }}', //内容总数
            itemWidth: itemWidth+4 //内容宽度
        });
        var item = document.getElementById('scroll-content');
        var bar = document.getElementById('scroll-bar');
        var slider = document.getElementById('scroll-slider');
        touchMove(item, {{ count }}, bar, slider, itemWidth+4);
    </script>
{% endblock %}