{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- nav header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <a class="navbar-brand" href="#"></a>
        </button>
    </div>
    <!-- nav bar -->
    <nav class="st-nav-bar nav-menu collapse navbar-collapse full-padding" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="st-bar" id="back"><a href="{% url 'wedding' %}">返回</a></li>
        </ul>
    </nav>
    <!-- scroll content -->
    <article class="st-content">
        <div class="row">
            <div class="wed-item col-md-4 col-md-offset-2">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#hotel-desc">酒店介绍</button>
                <div class="modal fade" id="hotel-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">酒店介绍</span>
                       </div>
                       <div class="modal-body">
                            <h1>{{ wedding.name }}</h1>
                            <label>{{ wedding.desc }}</label>
                            {% autoescape off %}
                                {{ wedding.hotel_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
            <div class="wed-item col-md-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#place-desc">场地信息</button>
                <div class="modal fade" id="place-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">场地信息</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.place_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wed-item col-md-4 col-md-offset-2">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#server-desc">专业服务</button>
                <div class="modal fade" id="server-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">专业服务</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.server_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
            <div class="wed-item col-md-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#know-desc">预约须知</button>
                <div class="modal fade" id="know-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">预约须知</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.book_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </article>
    <div class="scroll-content" id="scroll-content">
        <div class="item-group">
            {% for img in images %}
            <div class="content-item" style="background-image: url({{ img.img}})">
                <div class="item-box photo-box">
                    <a href="{{ img.img }}" data-lightbox="roadtrip"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="scroll-bar" id="scroll-bar">
        <div class="scroll-slider" id="scroll-slider"></div>
    </div>
    <div class="img-group">
    {% for img in images %}
        <img src="{{ img.img }}" width="100%">
    {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        var items = document.getElementsByClassName('content-item');
        var itemWidth = 0;
        if(items.length > 0){
            itemWidth = items.item(0).clientWidth;
        }
        $('.item-box').css({'width':itemWidth + 'px'});
        new CusScrollBar({
            contSelector: '.scroll-content', //滚动内容区选择器
            barSelector: '.scroll-bar', //滚动条选择器
            sliderSelector: '.scroll-slider', //滚动滑块选择器
            itemCount: '{{ count }}', //内容总数
            itemWidth: itemWidth+4 //内容宽度
        });
        var item = document.getElementById('scroll-content');
        var bar = document.getElementById('scroll-bar');
        var slider = document.getElementById('scroll-slider');
        touchMove(item, {{ count }}, bar, slider, itemWidth+4);
    </script>
{% endblock %}