{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/wed-detail.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
{% block container %}
    <!-- nav header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <a class="navbar-brand" href="#"></a>
            <span id="talk" class="talk">点我</span>
        </button>
    </div>
    <!-- nav bar -->
    <nav class="st-nav-bar nav-menu collapse navbar-collapse full-padding" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="st-bar" id="back"><a href="{% url 'wedding' %}">返回</a></li>
        </ul>
    </nav>
    <!-- scroll content -->
    <article class="st-content">
        <div class="row">
            <div class="wed-item col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#hotel-desc">酒店介绍</button>
                <div class="modal fade" id="hotel-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">酒店介绍</span>
                       </div>
                       <div class="modal-body">
                            <h1>{{ wedding.name }}</h1>
                            <label>{{ wedding.desc }}</label>
                            {% autoescape off %}
                                {{ wedding.hotel_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wed-item col-md-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#place-desc">场地信息</button>
                <div class="modal fade" id="place-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">场地信息</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.place_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
            <div class="wed-item col-md-4 hotel-img" style="background-image: url({{ images.0.img}})">
                <div class="item-box photo-box">
                    <a href="{{ images.0.img }}" data-lightbox="roadtrip"></a>
                </div>
                {% for img in images %}
                    <div>
                    {% if img.img != images.0.img %}
                        <a href="{{ img.img }}" data-lightbox="roadtrip"></a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="wed-item col-md-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#server-desc">专业服务</button>
                <div class="modal fade" id="server-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">专业服务</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.server_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wed-item col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#know-desc">预约须知</button>
                <div class="modal fade" id="know-desc" tabindex="-1" role="dialog">
                   <div class="modal-content" role="document">
                       <div class="modal-header">
                            <span class="modal-title" id="myModalLabel">预约须知</span>
                       </div>
                       <div class="modal-body">
                            {% autoescape off %}
                                {{ wedding.book_info }}
                            {% endautoescape %}
                       </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}